<template>

    <lightning-card title="Informations" icon-name="standard:contact">
        <template if:true={contact.data}>
            <div class="slds-m-around_medium">

                <p>{mailingaddress}</p>
                <p>{city} {codep} {latitude}</p>
                <p>{country}</p>
            </div>
        </template>
        
        <template if:true={contact.error}>
            <c-error-panel errors={contact.error}></c-error-panel>
        </template>
       

    </lightning-card>

</template>