<template>

    <lightning-layout vertical-align="center">
       
        <lightning-layout-item padding="around-small">
            <p>{contact.Name}</p>
        </lightning-layout-item>
    </lightning-layout>

</template>